@import "tailwindcss";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1470px;
  --breakpoint-2xl: 1536px;
  
  --color-black181a: #181A1F;
  --color-black1214: #121417;
  --color-black2023: #202329;
  --color-whitef2f2: #f2f2f2;
  --color-whited9d9: #D9D9D9;
  --color-blue1f53: #1F53CC;
  --color-blue278e: #278EF5;
  --color-blue255b: #255BB8;
  --color-gray8c8c: #8C8C8C;
  --color-gray4b50: #4B5059;
  --color-graybfbf: #BFBFBF;
  --color-green71b8: #71B842;
  --color-rede04a: #E04A3F;
  
  --font-family-host-grotesk: "Host Grotesk", sans-serif;
   
  --animate-fade-in-translate: fade-in-translate 0.4s ease-out;
  --animate-fade-out-translate: fade-out-translate 0.5s ease-out;

  @keyframes fade-in-translate {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out-translate {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-30px);
    }
  }

  --container-title-24: ;
}

@layer utilities {
}

@layer components {
  .custom-navbar {
    background-color: #f2f2f2;
    backdrop-filter: blur(6px);
    border-bottom: 1px solid #D9D9D9;
  }
}

:root {
  font-family: "Host Grotesk", serif, sans-serif, Avenir, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: block;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
